<%= form_for :pawn, url: pawns_path do |f| %>

  <% if @pawn.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pawn.errors.count, "error") %> prohibited
        this pawn from being saved:
      </h2>
      <ul>
        <% @pawn.errors.full_messages.each do |msg| %>
          <li><%= add_gritter("This is a notification just for you!", :title => msg) %>
</li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Pawn #</label>
    <div class="col-10">
    <%= f.text_area :pawn_number, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
    <%= f.text_area :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
    <div class="col-10">
      <input class="form-control" id="example-tel-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">Principle</label>
    <div class="col-10">
      <%= f.text_area :principle, :class => "form-control" %>
    </div>
  </div>

  <%= f.submit :class => "btn btn-primary" %>
  <%= link_to 'Back', pawns_path, :class => "btn btn-secondary" %>
</div>
<% end %>
