<h1>Listing Pawns</h1>
 
<table>
  <tr>
    <th>Pawn Number</th>
    <th>Name</th>
  </tr>
 
  <% @pawns.each do |pawn| %>
    <tr>
      <td><%= pawn.pawn_number %></td>
      <td><%= pawn.name %></td>
      <td><%= link_to 'Show', pawn_path(pawn) %></td>
      <td><%= link_to 'Edit', edit_pawn_path(pawn) %></td>
      <td><%= link_to 'Destroy', pawn_path(pawn),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>