<div class="container">

<table class="table table-inverse">
  <thead>
    <tr>
      <th scope="row"><%= @pawn.pawn_number %></th>
      <td><%= @pawn.name %></td>
      <td><%= link_to 'Edit', edit_pawn_path(@pawn) %></td>
    </tr>
  </thead>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Date of Payment</th>
      <th>Customer Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @pawn.payments %>
  </tbody>
</table>


<h2>Add a Payment History:</h2>
<%= render 'payments/form' %>


<%= link_to 'Back', pawns_path %>


</div>