<div class="container">

<table class="table table-inverse">
  <thead>
    <tr>
      <th scope="row"><%= @pawn.pawn_number %></th>
      <td><%= @pawn.name %></td>
      <td>$<%= @pawn.principle %></td>
      <td><%= link_to 'Edit', edit_pawn_path(@pawn) %></td>
    </tr>
  </thead>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Date of Payment</th>
      <th>Amount of Payment</th>
    </tr>
  </thead>
  <tbody>
    <%= render @pawn.payments %>
  </tbody>
</table>


<%= link_to 'Back', pawns_path %>
<% if @pawn.principle > 0 %>
  <%= link_to "Pay!!!!", new_charge_path(:pawn => @pawn) %>
<% end %>

</div>